body{
	background: url(http://static.lazada.vn/floor/7c56076c2bbb80a7b4fb2c4347e9bbd4.jpg) no-repeat 50% 0;
}

#logo{
	display:none;
	background: url(http://static-01.lazada.vn/images/2014/logo/vn.png);
}